body {
    margin: 0;
    height: 100%;
    font-family: Roboto, HelveticaNeue, Arial, sans-serif !important;
    font-size: 14px;
    color: #222;
}

.logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 198px;
}


.form {
    text-align: center;
}

input {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 530px;
    margin-top: 22px;
    height: 42px;
    padding-left: 10px;
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 16px 16px; 
    padding-left: 50px;
    outline: 0;
    font-size: 16px;
    font-family: inherit;
}

input:focus{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

input:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.buttons {
    text-align: center;
    padding-top: 16px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-family: inherit;
    font-size:inherit;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

header {
    line-height: 24px;
    font-size: 13px;
    margin-top: 7px;
}

header ul {
    margin:0;
    padding:0;
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
}

header li a {
    display: block;
    color:inherit;
    text-decoration: none;
    padding: 10px 7px;
    text-align: center;
}

svg {
    color: #5f6368;
    opacity: 0.6;
    padding-left: 4px;
}

svg:hover {
    background-color: rgba(60,64,67,0.08);
    background-clip:border-box;
    outline: none;
    border-radius: 50%;
}

.connect {
    color: white !important;
    letter-spacing: .25px;
    line-height: 16px;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: 5px;
    outline:none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    padding: 9px 23px;
    background: #1a73e8;
    border: 1px solid transparent;
    text-decoration: none !important;
}

.connect:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

a:hover {
    text-decoration: underline;
}

li a:visited {
    color: inherit;
}

header li {
    float: right;
    white-space: nowrap;
}

footer {
    position: absolute;
    width: 100%;
    bottom:0;
    background: #f2f2f2;
}

.country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54)
}

.info {
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,.54);
    flex-wrap: wrap;
    padding: 0 20px;
}

footer ul {
    overflow: hidden;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

footer li {
    float: left;
    padding:15px;
    display: block;
    white-space: nowrap;
}

#leaf {
    height: 14px;
    margin-right: 6px;
}

#carbon-text {
    display: inline;
    margin: 0;
    vertical-align: top;
}

.carbon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
    width: 100%;
}

.carbon {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

footer a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    display: block;
    white-space: nowrap;
}

.left {
    display: flex;
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
    flex-wrap: wrap;
}

.right {
    display: flex;
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    flex-wrap: wrap;
}